<div class="item">
    <div class="img">
        <a href="[Link]" title="[Name]">[Image]</a>
        <div class="text">
            [Description]
            <div class="btn-text">
                <a href="[Link]" title="Chi tiết">Chi tiết</a>
                <a href="javascript:" title="So sánh">So sánh</a>
            </div>
        </div>
    </div>
    <div class="txt">
        <h3><a href="[Link]" title="[Name]">[Name]</a></h3>
        <div class="tt">
            <div class="price">
                [Price] [OldPrice]
            </div>
            <div class="cmt">
                <span>[Average]/5 <i class="fa fa-star"></i></span>
                [TotalRate] đánh giá
            </div>
        </div>
    </div>
</div>