@font-face {
    font-family: UTM-E-C;
    src: url("../fonts/00089-UTM-Essendine-Caps.ttf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/inteligent-bold.otf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/inteligent-semibold.otf");
    font-display: swap;
}

@font-face {
    font-family: "default";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/inteligent-regular.otf");
    font-display: swap;
}

:root {
    //color
    --color-main: #54a34c;
    --color-main1: #5a3d2a;
    --color-red: #ec282f;
    --color-white: #fff;
    --color-text: #393939;
    --color-nav-history: #7f7f7f;
    --color-border: #b2b2b2;
    --color-border-form: #d4d4d4;
    --color-border-avatar: #d9d9d9;
    --color-icon-form: #666666;
    --color-share: #818188;
    --color-old-price: #727272;
    --color-border-dot: #a3a3a3;
    --color-border-product-new: #c7c7c7;
    --color-border-table: #ececec;
    --color-border-map: #cacaca;
    --color-border-input: #b9bbb7;
    --color-border-page: #c5c5c5;
    --color-border-intro: #d2d2d2;
    --color-table: #f9f9f9;
    --color-table1: #a9815f;
    --color-icon-form: #858585;
    --color-hotline: #ec282f;
    --color-social-ft: #6b6b6b;
    --color-before-input: #d8d8d8;
    //bg-color
    --bg-translate: #eeefef;
    --bg-mess: ##1777f1;
    --bg-zalo: #008ff3;
    //height
    --h-header: 87.6px;
    --h-header-mini: 80px;
    //width
    --width-container-2: 1470px;
    --width-container: 1300px;
    --width-logo: 235px;
    --width-logo: 235px;
    //font-size
    --fs-text-min: 13px;
    --fs-text: 16px;
    --fs-about-option-index: 32px;
    --fs-header: 18px;
    --fs-h1: 26px;
    --fs-h2: 22px;
    --fs-h3: 18px;
    --fs-h4: 16px;
    --fs-h5: 15px;
    --fs-h6: 14px;
    //------------------------------------------------
    --fs-year: 50px;
    --fs-news-date-strong: 28px;
    --fs-catalog-index: 20px;
    --fs-header-top: 16px;
    --fs-menu: 17px;
    --fs-sub-menu: 16px;
    --fs-paragraph1: 17px;
    --fs-path: 17px;
    --fs-name: 17px;
    --fs-code: 15px;
    --fs-old-price: 14px;
    --fs-old-price: 14px;
    --fs-price: 28px;
    --fs-paragraph: 16px;
    --fs-more-item: 17px;
    --fs-more-border: 16px;
    --fs-more: 14px;
    --fs-page: 14px;
    --fs-news-date: 12px;
    //fs title
    --fs-title-min: 26px;
    --fs-title-ft: 18px;
    --fs-title-product: 24px;
    --fs-title-product-min: 20px;
    --fs-14: 14px;
    --fs-title: 40px;
    --fs-title-extra: 34px;
    --fs-title-product-detail: 38px;
    --fs-title-form-contact: 30px;
    --fs-title-banner: 26px;
    --fs-title-main-page: 26px;
    --fs-title-item-flex: 24px;
    --fs-title-recruitment: 24px;
    --fs-title-form: 22px;
    --fs-title-item: 20px;
    --fs-title-product: 18px;
}
@media (max-width: 1900px) {
    :root {
        --width-container: 1300px;
        --width-container-2: 1470px;
        --width-logo: 235px;
    }
}
// 1199px
@media (max-width: 1650px) {
    :root {
        --width-container: 1130px;
        --width-container-2: 1280px;
        --width-logo: 205px;
    }
}
//991px
@media (max-width: 1420px) {
    :root {
        --width-container: 980px;
        --width-container-2: 1100px;
        --fs-title: 22px;
        --width-logo: 180px;
    }
}

@media (max-width: 992px) {
    :root {
        --fs-text: 14px;
        --width-container: unset;
        --width-container-2: unset;
        --width-logo: 123px;
        //------------------------------------------------
        //--fs-year: 22px;
        //--fs-news-date-strong: 22px;
        //--fs-catalog-index: 18px;
        //--fs-header-top: 15px;
        //--fs-menu: 15px;
        //--fs-sub-menu: 15px;
        //--fs-paragraph1: 15px;
        //--fs-path: 15px;
        //--fs-name: 15px;
        //--fs-code: 15px;
        //--fs-old-price: 14px;
        //--fs-old-price: 14px;
        //--fs-price: 20px;
        //--fs-paragraph: 15px;
        //--fs-more-item: 15px;
        //--fs-more-border: 15px;
        //--fs-more: 14px;
        //--fs-page: 14px;
        //--fs-news-date: 12px;
        //fs title
        //--fs-title-min: 22px;
        //--fs-title-ft: 18px;
        //--fs-title-product: 22px;
        //--fs-title-product-min: 18px;
        //--fs-14: 14px;
        //--fs-title: 22px;
        //--fs-title-extra: 22px;
        //--fs-title-product-detail: 22px;
        //--fs-title-form-contact: 22px;
        //--fs-title-banner: 22px;
        //--fs-title-main-page: 22px;
        //--fs-title-item-flex: 22px;
        //--fs-title-recruitment: 22px;
        //--fs-title-form: 22px;
        //--fs-title-item: 18px;
        //--fs-title-product: 18px;
    }
}

@media (max-width: 767px) {
    :root {
        --fs-text: 14px;
        --width-container: unset;
        --width-container-2: unset;
        --width-logo: 96px;
        //------------------------------------------------
        --fs-year: 22px;
        --fs-news-date-strong: 22px;
        --fs-catalog-index: 18px;
        --fs-header-top: 15px;
        --fs-menu: 15px;
        --fs-sub-menu: 15px;
        --fs-paragraph1: 15px;
        --fs-path: 15px;
        --fs-name: 15px;
        --fs-code: 15px;
        --fs-old-price: 14px;
        --fs-old-price: 14px;
        --fs-price: 20px;
        --fs-paragraph: 15px;
        --fs-more-item: 15px;
        --fs-more-border: 15px;
        --fs-more: 14px;
        --fs-page: 14px;
        --fs-news-date: 12px;
        //fs title
        --fs-title-min: 22px;
        --fs-title-ft: 18px;
        --fs-title-product: 22px;
        --fs-title-product-min: 18px;
        --fs-14: 14px;
        --fs-title: 22px;
        --fs-title-extra: 22px;
        --fs-title-product-detail: 22px;
        --fs-title-form-contact: 22px;
        --fs-title-banner: 22px;
        --fs-title-main-page: 22px;
        --fs-title-item-flex: 22px;
        --fs-title-recruitment: 22px;
        --fs-title-form: 22px;
        --fs-title-item: 18px;
        --fs-title-product: 18px;
    }
}