<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Website.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\sundiva.vn\tmp" />
  </system.web>
</configuration>
<!--ProjectGuid: A3C735F4-AA4D-42AB-9FC6-B0E6908B2891-->